Flask
pymongo[srv]
Flask-PyMongo
python-dotenv
flask_mongoengine
datetime
pycryptodome
requests
oss2
flask_socketio
gevent-websocket
redis[hiredis]
flask_cors
authlib==1.2.0
eventlet
ray[default]==2.2.0